body{

margin:0;

font-family:Arial;

background:#f4f4f4;

}


.hero{

padding:80px 20px;

text-align:center;

background:
linear-gradient(
90deg,
#1e3c72,
#2a5298
);

color:white;

}


.hero h1{

font-size:48px;

margin-bottom:10px;

}


.search{

margin-top:30px;

display:flex;

justify-content:center;

gap:10px;

flex-wrap:wrap;

}


input{

padding:15px;

width:350px;

border:none;

border-radius:10px;

font-size:16px;

}


button{

padding:15px 25px;

border:none;

background:#00c853;

color:white;

font-weight:bold;

border-radius:10px;

cursor:pointer;

}


#results{

max-width:1000px;

margin:auto;

padding:40px 20px;

display:flex;

flex-direction:column;

gap:20px;

}


.card{

background:white;

padding:20px;

border-radius:15px;

box-shadow:
0 4px 10px rgba(
0,0,0,.1
);

display:flex;

gap:20px;

align-items:center;

}


.product-image{

width:140px;

height:140px;

object-fit:contain;

border-radius:10px;

background:#fafafa;

padding:10px;

}


.info{

flex:1;

}


.info h3{

margin-top:0;

margin-bottom:10px;

}


.price{

font-size:24px;

font-weight:bold;

color:#00a651;

margin-bottom:8px;

}


.store{

color:#666;

margin-bottom:15px;

}


.link-button{

display:inline-block;

padding:12px 18px;

background:#1e3c72;

color:white;

text-decoration:none;

border-radius:8px;

font-weight:bold;

}


.link-button:hover{

opacity:.9;

}


@media(max-width:700px){

.card{

flex-direction:column;

text-align:center;

}

.product-image{

width:200px;

height:200px;

}

}

.product-image{

background:#fff;

border:1px solid #eee;

}
